(
.notdef,
NULL,
CR,
space,
A,
A.text,
Aacute,
Aacute.text,
Abreve,
Abreve.text,
Abreveacute,
Abreveacute.text,
Abrevedotbelow,
Abrevedotbelow.text,
Abrevegrave,
Abrevegrave.text,
Abrevehookabove,
Abrevehookabove.text,
Abrevetilde,
Abrevetilde.text,
Acaron,
Acaron.text,
Acircumflex,
Acircumflex.text,
Acircumflexacute,
Acircumflexacute.text,
Acircumflexdotbelow,
Acircumflexdotbelow.text,
Acircumflexgrave,
Acircumflexgrave.text,
Acircumflexhookabove,
Acircumflexhookabove.text,
Acircumflextilde,
Acircumflextilde.text,
Adblgrave,
Adblgrave.text,
Adieresis,
Adieresis.text,
Adieresismacron,
Adieresismacron.text,
Adotaccent,
Adotaccent.text,
Adotbelow,
Adotbelow.text,
Adotmacron,
Adotmacron.text,
Agrave,
Agrave.text,
Ahookabove,
Ahookabove.text,
Ainvertedbreve,
Ainvertedbreve.text,
"Alpha-latin",
"Alphaturned-latin",
Amacron,
Amacron.text,
Aogonek,
Aogonek.latnNAV,
Aogonek.latnNAV.text,
Aogonek.text,
Aring,
Aring.text,
Aringacute,
Aringacute.text,
Aringbelow,
Aringbelow.text,
Astroke,
Astroke.text,
Atilde,
Atilde.text,
Aturned,
Aturned.text,
AE,
AE.text,
AEacute,
AEacute.text,
AEmacron,
AEmacron.text,
B,
Bdotaccent,
Bdotaccent.text,
Bdotbelow,
Bdotbelow.text,
"Beta-latin",
Bhook,
Blinebelow,
Blinebelow.text,
Bstroke,
C,
C.text,
Cacute,
Cacute.text,
Ccaron,
Ccaron.text,
Ccedilla,
Ccedilla.text,
Ccedillaacute,
Ccedillaacute.text,
Ccircumflex,
Ccircumflex.text,
Cdotaccent,
Cdotaccent.text,
"Chi-latin",
"Chi-latin.text",
Chook,
Chook.text,
Cstroke,
Cstroke.text,
D,
DZ,
DZ.text,
DZcaron,
DZcaron.text,
Dafrican,
Dcaron,
Dcaron.text,
Dcedilla,
Dcedilla.text,
Dcircumflexbelow,
Dcircumflexbelow.text,
Dcroat,
Ddotaccent,
Ddotaccent.text,
Ddotbelow,
Ddotbelow.text,
Dhook,
Dlinebelow,
Dlinebelow.text,
Dz,
Dz.text,
Dzcaron,
Dzcaron.text,
Eth,
E,
Eacute,
Eacute.text,
Ebreve,
Ebreve.text,
Ecaron,
Ecaron.text,
Ecedilla,
Ecedilla.text,
Ecedillabreve,
Ecedillabreve.text,
Ecircumflex,
Ecircumflex.text,
Ecircumflexacute,
Ecircumflexacute.text,
Ecircumflexbelow,
Ecircumflexbelow.text,
Ecircumflexdotbelow,
Ecircumflexdotbelow.text,
Ecircumflexgrave,
Ecircumflexgrave.text,
Ecircumflexhookabove,
Ecircumflexhookabove.text,
Ecircumflextilde,
Ecircumflextilde.text,
Edblgrave,
Edblgrave.text,
Edieresis,
Edieresis.text,
Edotaccent,
Edotaccent.text,
Edotbelow,
Edotbelow.text,
Egrave,
Egrave.text,
Ehookabove,
Ehookabove.text,
Einvertedbreve,
Einvertedbreve.text,
Emacron,
Emacron.text,
Emacronacute,
Emacronacute.text,
Emacrongrave,
Emacrongrave.text,
Eogonek,
Eogonek.latnNAV,
Eopen,
Ereversed,
Esh,
Esh.text,
Estroke,
Estroke.text,
Etilde,
Etilde.text,
Etildebelow,
Etildebelow.text,
Schwa,
Schwa.text,
Ezh,
Ezh.text,
Ezhcaron,
Ezhcaron.text,
Ezhreversed,
Ezhreversed.text,
F,
FStroke,
Fdotaccent,
Fdotaccent.text,
Fhook,
G,
G.text,
Gacute,
Gacute.text,
Gbreve,
Gbreve.text,
Gcaron,
Gcaron.text,
Gcircumflex,
Gcircumflex.text,
Gcommaaccent,
Gcommaaccent.text,
Gdotaccent,
Gdotaccent.text,
Gha,
Ghook,
Ghook.text,
Glottalstop,
Gmacron,
Gmacron.text,
Gscript,
Gscript.text,
Gstroke,
Gstroke.text,
Yogh,
Yogh.text,
H,
Hbar,
Hbrevebelow,
Hbrevebelow.text,
Hcaron,
Hcaron.text,
Hcedilla,
Hcedilla.text,
Hcircumflex,
Hcircumflex.text,
Hdieresis,
Hdieresis.text,
Hdotaccent,
Hdotaccent.text,
Hdotbelow,
Hdotbelow.text,
Heng,
Hhook,
Hturned,
I,
IJ,
Iacute,
Iacute.text,
Ibreve,
Ibreve.text,
Icaron,
Icaron.text,
Icircumflex,
Icircumflex.text,
Idblgrave,
Idblgrave.text,
Idieresis,
Idieresis.text,
Idieresisacute,
Idieresisacute.text,
Idotaccent,
Idotaccent.text,
Idotbelow,
Idotbelow.text,
Igrave,
Igrave.text,
Ihookabove,
Ihookabove.text,
Iinvertedbreve,
Iinvertedbreve.text,
Imacron,
Imacron.text,
Iogonek,
Iotaafrican,
Istroke,
Itilde,
Itilde.text,
Itildebelow,
Itildebelow.text,
J,
Jacute,
Jacute.text,
Jcircumflex,
Jcircumflex.text,
Jcrossedtail,
Jstroke,
K,
Kacute,
Kacute.text,
Kcaron,
Kcaron.text,
Kcommaaccent,
Kcommaaccent.text,
Kdotbelow,
Kdotbelow.text,
Khook,
Klinebelow,
Klinebelow.text,
Kstroke,
L,
LJ,
Lacute,
Lacute.text,
Lbar,
Lbelt,
Lbelt.text,
Lcaron,
Lcaron.text,
Lcircumflexbelow,
Lcircumflexbelow.text,
Lcommaaccent,
Lcommaaccent.latnMAH,
Lcommaaccent.text,
Ldot,
Ldot.text,
Ldotbelow,
Ldotbelow.text,
Ldotbelowmacron,
Ldotbelowmacron.text,
Ldoublebar,
Lhighstroke,
Lj,
Lj.text,
Llinebelow,
Llinebelow.text,
Lmiddletilde,
Lslash,
M,
M.text,
Macute,
Macute.text,
Mdotaccent,
Mdotaccent.text,
Mdotbelow,
Mdotbelow.text,
Mhook,
Mhook.text,
Mturned,
N,
N.text,
NJ,
NJ.text,
Nacute,
Nacute.text,
Ncaron,
Ncaron.text,
Ncircumflexbelow,
Ncircumflexbelow.text,
Ncommaaccent,
Ncommaaccent.latnMAH,
Ncommaaccent.latnMAH.text,
Ncommaaccent.text,
Ndescender,
Ndescender.text,
Ndotaccent,
Ndotaccent.text,
Ndotbelow,
Ndotbelow.text,
Ngrave,
Ngrave.text,
Nhookleft,
Nhookleft.text,
Nj,
Nj.text,
Nlinebelow,
Nlongrightleg,
Nlinebelow.text,
Ntilde,
Ntilde.text,
Eng,
Eng.latnNSM,
Eng.latnNSM.text,
O,
OU,
Oacute,
Oacute.text,
Obreve,
Obreve.text,
Ocaron,
Ocaron.text,
Ocenteredtilde,
Ocircumflex,
Ocircumflex.text,
Ocircumflexacute,
Ocircumflexacute.text,
Ocircumflexdotbelow,
Ocircumflexdotbelow.text,
Ocircumflexgrave,
Ocircumflexgrave.text,
Ocircumflexhookabove,
Ocircumflexhookabove.text,
Ocircumflextilde,
Ocircumflextilde.text,
Odblgrave,
Odblgrave.text,
Odieresis,
Odieresis.text,
Odieresismacron,
Odieresismacron.text,
Odotaccent,
Odotaccent.text,
Odotaccentmacron,
Odotaccentmacron.text,
Odotbelow,
Odotbelow.text,
Ograve,
Ograve.text,
Ohookabove,
Ohookabove.text,
Ohorn,
Ohornacute,
Ohornacute.text,
Ohorndotbelow,
Ohorndotbelow.text,
Ohorngrave,
Ohorngrave.text,
Ohornhookabove,
Ohornhookabove.text,
Ohorntilde,
Ohorntilde.text,
Ohungarumlaut,
Ohungarumlaut.text,
Oinvertedbreve,
Oinvertedbreve.text,
Omacron,
Omacron.text,
Omacronacute,
Omacronacute.text,
Omacrongrave,
Omacrongrave.text,
"Omega-latin",
Oogonek,
Oogonek.text,
Oogonekmacron,
Oogonekmacron.text,
Oopen,
Oslash,
Oslashacute,
Oslashacute.text,
Otilde,
Otilde.text,
Otildeacute,
Otildeacute.text,
Otildedieresis,
Otildedieresis.text,
Otildemacron,
Otildemacron.text,
OE,
P,
Pacute,
Pacute.text,
Pdotaccent,
Pdotaccent.text,
Phook,
Thorn,
Pstroke,
Q,
Qhooktail,
R,
Racute,
Racute.text,
Rcaron,
Rcaron.text,
Rcommaaccent,
Rcommaaccent.text,
Rdblgrave,
Rdblgrave.text,
Rdotaccent,
Rdotaccent.text,
Rdotbelow,
Rdotbelow.text,
Rdotbelowmacron,
Rdotbelowmacron.text,
Rinvertedbreve,
Rinvertedbreve.text,
Rlinebelow,
Rlinebelow.text,
Rstroke,
Rtail,
S,
S.text,
Sacute,
Sacute.text,
Sacutedotaccent,
Sacutedotaccent.text,
Scaron,
Scaron.text,
Scarondotaccent,
Scarondotaccent.text,
Scedilla,
Scedilla.text,
Scircumflex,
Scircumflex.text,
Scommaaccent,
Scommaaccent.text,
Sdotaccent,
Sdotaccent.text,
Sdotbelow,
Sdotbelow.text,
Sdotbelowdotaccent,
Sdotbelowdotaccent.text,
Germandbls,
Germandbls.text,
Sobliquestroke,
T,
Tbar,
Tcaron,
Tcaron.text,
Tcedilla,
Tcircumflexbelow,
Tcircumflexbelow.text,
Tcommaaccent,
Tcommaaccent.text,
Tdiagonalstroke,
Tdiagonalstroke.text,
Tdotaccent,
Tdotaccent.text,
Tdotbelow,
Tdotbelow.text,
Thook,
Tlinebelow,
Tlinebelow.text,
Tretroflexhook,
U,
Uacute,
Uacute.text,
Ubar,
Ubreve,
Ubreve.text,
Ucaron,
Ucaron.text,
Ucircumflex,
Ucircumflex.text,
Ucircumflexbelow,
Ucircumflexbelow.text,
Udblgrave,
Udblgrave.text,
Udieresis,
Udieresis.text,
Udieresisacute,
Udieresisacute.text,
Udieresisbelow,
Udieresisbelow.text,
Udieresiscaron,
Udieresiscaron.text,
Udieresisgrave,
Udieresisgrave.text,
Udieresismacron,
Udieresismacron.text,
Udotbelow,
Udotbelow.text,
Ugrave,
Ugrave.text,
Uhookabove,
Uhookabove.text,
Uhorn,
Uhornacute,
Uhornacute.text,
Uhorndotbelow,
Uhorndotbelow.text,
Uhorngrave,
Uhorngrave.text,
Uhornhookabove,
Uhornhookabove.text,
Uhorntilde,
Uhorntilde.text,
Uhungarumlaut,
Uhungarumlaut.text,
Uinvertedbreve,
Uinvertedbreve.text,
Umacron,
Umacron.text,
Umacrondieresis,
Umacrondieresis.text,
Uogonek,
Upsilonafrican,
Uring,
Uring.text,
Utilde,
Utilde.text,
Utildeacute,
Utildeacute.text,
Utildebelow,
Utildebelow.text,
V,
V.text,
Gammaafrican,
Gammaafrican.text,
Vdotbelow,
Vdotbelow.text,
Vhook,
Vtilde,
Vtilde.text,
Vturned,
Vturned.text,
W,
W.text,
Wacute,
Wacute.text,
Wcircumflex,
Wcircumflex.text,
Wdieresis,
Wdieresis.text,
Wdotaccent,
Wdotaccent.text,
Wdotbelow,
Wdotbelow.text,
Wgrave,
Wgrave.text,
Whook,
Whook.text,
X,
X.text,
Xdieresis,
Xdieresis.text,
Xdotaccent,
Xdotaccent.text,
Y,
Yacute,
Yacute.text,
Ycircumflex,
Ycircumflex.text,
Ydieresis,
Ydieresis.text,
Ydotaccent,
Ydotaccent.text,
Ydotbelow,
Ydotbelow.text,
Ygrave,
Ygrave.text,
Yhook,
Yhookabove,
Yhookabove.text,
Ymacron,
Ymacron.text,
Yr,
Ystroke,
Ystroke.text,
Ytilde,
Ytilde.text,
Z,
Z.text,
Zacute,
Zacute.text,
Zcaron,
Zcaron.text,
Zcircumflex,
Zcircumflex.text,
Zdotaccent,
Zdotaccent.text,
Zdotbelow,
Zdotbelow.text,
Zlinebelow,
Zlinebelow.text,
Zstroke,
Zstroke.text,
Saltillo,
Btopbar,
Dshortstrokeoverlay,
"Lambda-latin",
"Lambda-latin.text",
"Lambdastroke-latin",
"Lambdastroke-latin.text",
Ramshorn,
Ramshorn.text,
Sslash,
Sslash.text,
Y.text,
Udiagonalstroke,
uniA7AE,
J.latnNLD,
J.latnNLD.text,
glottalstopreversed.case,
hlinebelow.case,
hlinebelow.case.text,
jcaron.case,
jcaron.case.text,
tesh.case,
L_periodcentered.latnCAT,
L_periodcentered.latnCAT.text,
Gsmall,
Ismall,
Ismallstroke,
Rsmall,
a,
a.ss02,
a.text,
aacute,
aacute.ss02,
aacute.ss02.text,
aacute.text,
abreve,
abreve.ss02,
abreve.ss02.text,
abreve.text,
abreveacute,
abreveacute.ss02,
abreveacute.ss02.text,
abreveacute.text,
abrevedotbelow,
abrevedotbelow.ss02,
abrevedotbelow.ss02.text,
abrevedotbelow.text,
abrevegrave,
abrevegrave.ss02,
abrevegrave.ss02.text,
abrevegrave.text,
abrevehookabove,
abrevehookabove.ss02,
abrevehookabove.ss02.text,
abrevehookabove.text,
abrevetilde,
abrevetilde.ss02,
abrevetilde.ss02.text,
abrevetilde.text,
acaron,
acaron.ss02,
acaron.ss02.text,
acaron.text,
acircumflex,
acircumflex.ss02,
acircumflex.ss02.text,
acircumflex.text,
acircumflexacute,
acircumflexacute.ss02,
acircumflexacute.ss02.text,
acircumflexacute.text,
acircumflexdotbelow,
acircumflexdotbelow.ss02,
acircumflexdotbelow.ss02.text,
acircumflexdotbelow.text,
acircumflexgrave,
acircumflexgrave.ss02,
acircumflexgrave.ss02.text,
acircumflexgrave.text,
acircumflexhookabove,
acircumflexhookabove.ss02,
acircumflexhookabove.ss02.text,
acircumflexhookabove.text,
acircumflextilde,
acircumflextilde.ss02,
acircumflextilde.ss02.text,
acircumflextilde.text,
adblgrave,
adblgrave.ss02,
adblgrave.ss02.text,
adblgrave.text,
adieresis,
adieresis.ss02,
adieresis.ss02.text,
adieresis.text,
adieresismacron,
adieresismacron.ss02,
adieresismacron.ss02.text,
adieresismacron.text,
adotaccent,
adotaccent.ss02,
adotaccent.ss02.text,
adotaccent.text,
adotbelow,
adotbelow.ss02,
adotbelow.ss02.text,
adotbelow.text,
adotmacron,
adotmacron.ss02,
adotmacron.ss02.text,
adotmacron.text,
agrave,
agrave.ss02,
agrave.ss02.text,
agrave.text,
ahookabove,
ahookabove.ss02,
ahookabove.ss02.text,
ahookabove.text,
ainvertedbreve,
ainvertedbreve.ss02,
ainvertedbreve.ss02.text,
ainvertedbreve.text,
"alpha-latin",
"alphaturned-latin",
amacron,
amacron.ss02,
amacron.ss02.text,
amacron.text,
aogonek,
aogonek.latnNAV,
aogonek.latnNAV.text,
aogonek.ss02,
aogonek.ss02.latnNAV,
aogonek.ss02.latnNAV.text,
aogonek.ss02.text,
aogonek.text,
arighthalfring,
arighthalfring.ss02,
arighthalfring.text,
aring,
aring.ss02,
aring.ss02.text,
aring.text,
aringacute,
aringacute.ss02,
aringacute.text,
aringbelow,
aringbelow.ss02,
aringbelow.ss02.text,
aringbelow.text,
astroke,
astroke.ss02,
astroke.ss02.text,
astroke.text,
atilde,
atilde.ss02,
atilde.ss02.text,
atilde.text,
aturned,
aturned.ss02,
aturned.text,
ae,
ae.text,
aeacute,
aeacute.text,
aemacron,
aemacron.text,
b,
b.text,
bdotaccent,
bdotaccent.text,
bdotbelow,
bdotbelow.text,
"beta-latin",
"beta-latin.text",
bhook,
bhook.text,
bilabialclick,
bilabialclick.text,
blinebelow,
blinebelow.text,
bstroke,
bstroke.text,
c,
c.text,
cacute,
cacute.text,
ccaron,
ccaron.text,
ccedilla,
ccedilla.text,
ccedillaacute,
ccedillaacute.text,
ccircumflex,
ccircumflex.text,
cdotaccent,
cdotaccent.text,
"chi-latin",
"chi-latin.text",
chook,
chook.text,
cstroke,
cstroke.text,
d,
d.text,
dbdigraph,
dbdigraph.text,
dcaron,
dcaron.text,
dcedilla,
dcedilla.text,
dcircumflexbelow,
dcircumflexbelow.text,
dcroat,
dcroat.text,
ddotaccent,
ddotaccent.text,
ddotbelow,
ddotbelow.text,
dhook,
dhook.text,
dlinebelow,
dlinebelow.text,
dtail,
dtail.text,
dz,
dz.text,
dzcaron,
dzcaron.text,
eth,
eth.text,
e,
e.text,
eacute,
eacute.text,
ebreve,
ebreve.text,
ecaron,
ecaron.text,
ecedilla,
ecedilla.text,
ecedillabreve,
ecedillabreve.text,
ecircumflex,
ecircumflex.text,
ecircumflexacute,
ecircumflexacute.text,
ecircumflexbelow,
ecircumflexbelow.text,
ecircumflexdotbelow,
ecircumflexdotbelow.text,
ecircumflexgrave,
ecircumflexgrave.text,
ecircumflexhookabove,
ecircumflexhookabove.text,
ecircumflextilde,
ecircumflextilde.text,
edblgrave,
edblgrave.text,
edieresis,
edieresis.text,
edotaccent,
edotaccent.text,
edotbelow,
edotbelow.text,
egrave,
egrave.text,
ehookabove,
ehookabove.text,
einvertedbreve,
einvertedbreve.text,
emacron,
emacron.text,
emacronacute,
emacronacute.text,
emacrongrave,
emacrongrave.text,
eogonek,
eogonek.latnNAV,
eogonek.latnNAV.text,
eogonek.text,
eopen,
eopen.text,
esh,
esh.text,
eshreversedloop,
eshreversedloop.text,
estroke,
estroke.text,
etilde,
etilde.text,
etildebelow,
etildebelow.text,
eturned,
eturned.text,
schwa,
schwa.text,
ezh,
ezh.text,
ezhcaron,
ezhcaron.text,
ezhreversed,
ezhreversed.text,
f,
f.text,
fStroke,
fStroke.text,
fdotaccent,
fdotaccent.text,
g,
g.ss01,
g.ss01.text,
g.text,
gacute,
gacute.ss01,
gacute.ss01.text,
gacute.text,
"gamma-latin",
"gamma-latin.text",
gbreve,
gbreve.ss01,
gbreve.ss01.text,
gbreve.text,
gcaron,
gcaron.ss01,
gcaron.ss01.text,
gcaron.text,
gcircumflex,
gcircumflex.ss01,
gcircumflex.ss01.text,
gcircumflex.text,
gcommaaccent,
gcommaaccent.ss01,
gcommaaccent.ss01.text,
gcommaaccent.text,
gdotaccent,
gdotaccent.ss01,
gdotaccent.ss01.text,
gdotaccent.text,
gha,
gha.text,
ghook,
ghook.text,
glottalstop,
glottalstop.text,
glottalstopreversed,
glottalstopreversed.text,
glottalstopsmall,
gmacron,
gmacron.ss01,
gmacron.ss01.text,
gmacron.text,
gsingle,
gsingle.text,
gstroke,
gstroke.ss01,
gstroke.ss01.text,
gstroke.text,
yogh,
yogh.text,
h,
h.text,
hbar,
hbar.text,
hbrevebelow,
hbrevebelow.text,
hcaron,
hcaron.text,
hcedilla,
hcedilla.text,
hcircumflex,
hcircumflex.text,
hdieresis,
hdieresis.text,
hdotaccent,
hdotaccent.text,
hdotbelow,
hdotbelow.text,
heng,
heng.text,
henghook,
henghook.text,
hhook,
hhook.text,
hlinebelow,
hlinebelow.text,
hturned,
hturned.text,
i,
i.text,
idotless,
iacute,
iacute.text,
ibreve,
ibreve.text,
icaron,
icaron.text,
icircumflex,
icircumflex.text,
idblgrave,
idblgrave.text,
idieresis,
idieresis.text,
idieresisacute,
idieresisacute.text,
idotbelow,
idotbelow.text,
igrave,
igrave.text,
ihookabove,
ihookabove.text,
iinvertedbreve,
iinvertedbreve.text,
imacron,
imacron.text,
iogonek,
iogonek.text,
"iota-latin",
istroke,
itilde,
itilde.text,
itildebelow,
itildebelow.text,
ij,
ij.text,
j,
j.latnNLD,
j.latnNLD.text,
j.text,
jdotless,
jdotless.text,
jacute,
jacute.text,
jcaron,
jcaron.text,
jcircumflex,
jcircumflex.text,
jcrossedtail,
jcrossedtail.text,
jdotlessstroke,
jdotlessstroke.text,
jdotlessstrokehook,
jdotlessstrokehook.text,
jstroke,
jstroke.text,
k,
k.text,
k_commaaboverightcomb,
k_commaaboverightcomb.text,
kacute,
kacute.text,
kcaron,
kcaron.text,
kcommaaccent,
kcommaaccent.text,
kdotbelow,
kdotbelow.text,
kgreenlandic,
khook,
khook.text,
klinebelow,
klinebelow.text,
kstroke,
kstroke.text,
l,
l.ss03,
l.ss03.text,
l.text,
lacute,
lacute.ss03,
lacute.ss03.text,
lacute.text,
lambdastroke,
lambdastroke.text,
lbar,
lbar.ss03,
lbar.ss03.text,
lbar.text,
lbelt,
lbelt.ss03,
lbelt.ss03.text,
lbelt.text,
lcaron,
lcaron.ss03,
lcaron.ss03.text,
lcaron.text,
lcircumflexbelow,
lcircumflexbelow.ss03,
lcircumflexbelow.ss03.text,
lcircumflexbelow.text,
lcommaaccent,
lcommaaccent.latnMAH,
lcommaaccent.ss03,
lcommaaccent.ss03.latnMAH,
lcommaaccent.ss03.latnMAH.text,
lcommaaccent.ss03.text,
lcommaaccent.text,
ldot,
ldot.ss03,
ldot.ss03.text,
ldot.text,
ldotbelow,
ldotbelow.ss03,
ldotbelow.ss03.text,
ldotbelow.text,
ldotbelowmacron,
ldotbelowmacron.ss03,
ldotbelowmacron.ss03.text,
ldotbelowmacron.text,
ldoublebar,
ldoublebar.ss03,
ldoublebar.ss03.text,
ldoublebar.text,
lhighstroke,
lhighstroke.ss03,
lhighstroke.ss03.text,
lhighstroke.text,
lj,
lj.ss03,
lj.ss03.text,
lj.text,
llinebelow,
llinebelow.ss03,
llinebelow.ss03.text,
llinebelow.text,
lmiddletilde,
lmiddletilde.ss03,
lmiddletilde.ss03.text,
lmiddletilde.text,
longsdotaccent,
longsdotaccent.text,
lslash,
lslash.ss03,
lslash.ss03.text,
lslash.text,
m,
macute,
macute.text,
mdotaccent,
mdotaccent.text,
mdotbelow,
mdotbelow.text,
mhook,
mhook.text,
mturned,
n,
nacute,
nacute.text,
napostrophe,
ncaron,
ncaron.text,
ncircumflexbelow,
ncircumflexbelow.text,
ncommaaccent,
ncommaaccent.latnMAH,
ncommaaccent.latnMAH.text,
ncommaaccent.text,
ndescender,
ndotaccent,
ndotaccent.text,
ndotbelow,
ndotbelow.text,
ngrave,
ngrave.text,
nhookleft,
nhookleft.text,
nj,
nj.text,
nlegrightlong,
nlinebelow,
nlegrightlong.text,
nlinebelow.text,
ntilde,
ntilde.text,
eng,
eng.text,
o,
oacute,
oacute.text,
obarred,
obreve,
obreve.text,
ocaron,
ocaron.text,
ocircumflex,
ocircumflex.text,
ocircumflexacute,
ocircumflexacute.text,
ocircumflexdotbelow,
ocircumflexdotbelow.text,
ocircumflexgrave,
ocircumflexgrave.text,
ocircumflexhookabove,
ocircumflexhookabove.text,
ocircumflextilde,
ocircumflextilde.text,
odblgrave,
odblgrave.text,
odieresis,
odieresis.text,
odieresismacron,
odieresismacron.text,
odotaccent,
odotaccent.text,
odotaccentmacron,
odotaccentmacron.text,
odotbelow,
odotbelow.text,
ograve,
ograve.text,
ohookabove,
ohookabove.text,
ohorn,
ohornacute,
ohornacute.text,
ohorndotbelow,
ohorndotbelow.text,
ohorngrave,
ohorngrave.text,
ohornhookabove,
ohornhookabove.text,
ohorntilde,
ohorntilde.text,
ohungarumlaut,
ohungarumlaut.text,
oinvertedbreve,
oinvertedbreve.text,
omacron,
omacron.text,
omacronacute,
omacronacute.text,
omacrongrave,
omacrongrave.text,
"omega-latin",
oogonek,
oogonek.text,
oogonekmacron,
oogonekmacron.text,
oopen,
oopen.text,
oslash,
oslashacute,
oslashacute.text,
otilde,
otilde.text,
otildeacute,
otildeacute.text,
otildedieresis,
otildedieresis.text,
otildemacron,
otildemacron.text,
ou,
ou.text,
oe,
oe.text,
p,
p.text,
pacute,
pacute.text,
pdotaccent,
pdotaccent.text,
"phi-latin",
"phi-latin.text",
phook,
phook.text,
thorn,
thorn.text,
pstroke,
pstroke.text,
q,
q.text,
qhooktail,
qhooktail.text,
qpdigraph,
qpdigraph.text,
r,
racute,
racute.text,
ramshorn,
ramshorn.text,
rcaron,
rcaron.text,
rcommaaccent,
rcommaaccent.text,
rdblgrave,
rdblgrave.text,
rdotaccent,
rdotaccent.text,
rdotbelow,
rdotbelow.text,
rdotbelowmacron,
rdotbelowmacron.text,
rfishhook,
rhook,
rinvertedbreve,
rinvertedbreve.text,
rlinebelow,
rlinebelow.text,
rstroke,
rhook.text,
s,
s.text,
sacute,
sacute.text,
sacutedotaccent,
sacutedotaccent.text,
scaron,
scaron.text,
scarondotaccent,
scarondotaccent.text,
scedilla,
scedilla.text,
scircumflex,
scircumflex.text,
scommaaccent,
scommaaccent.text,
sdotaccent,
sdotaccent.text,
sdotbelow,
sdotbelow.text,
sdotbelowdotaccent,
sdotbelowdotaccent.text,
germandbls,
germandbls.text,
sobliquestroke,
longs,
longs.text,
t,
tbar,
tcaron,
tcaron.text,
tcedilla,
tcircumflexbelow,
tcircumflexbelow.text,
tcommaaccent,
tcommaaccent.text,
tdiagonalstroke,
tdiagonalstroke.text,
tdieresis,
tdieresis.text,
tdotaccent,
tdotaccent.text,
tdotbelow,
tdotbelow.text,
tesh,
tesh.text,
thook,
thook.text,
tlinebelow,
tlinebelow.text,
tretroflexhook,
tretroflexhook.text,
u,
uacute,
uacute.text,
ubar,
ubreve,
ubreve.text,
ucaron,
ucaron.text,
ucircumflex,
ucircumflex.text,
ucircumflexbelow,
ucircumflexbelow.text,
udblgrave,
udblgrave.text,
udieresis,
udieresis.text,
udieresisacute,
udieresisacute.text,
udieresisbelow,
udieresisbelow.text,
udieresiscaron,
udieresiscaron.text,
udieresisgrave,
udieresisgrave.text,
udieresismacron,
udieresismacron.text,
udotbelow,
udotbelow.text,
ugrave,
ugrave.text,
uhookabove,
uhookabove.text,
uhorn,
uhornacute,
uhornacute.text,
uhorndotbelow,
uhorndotbelow.text,
uhorngrave,
uhorngrave.text,
uhornhookabove,
uhornhookabove.text,
uhorntilde,
uhorntilde.text,
uhungarumlaut,
uhungarumlaut.text,
uinvertedbreve,
uinvertedbreve.text,
umacron,
umacron.text,
umacrondieresis,
umacrondieresis.text,
uogonek,
uogonek.text,
"upsilon-latin",
uring,
uring.text,
utilde,
utilde.text,
utildeacute,
utildeacute.text,
utildebelow,
utildebelow.text,
v,
v.text,
vdotbelow,
vdotbelow.text,
vhook,
vtilde,
vtilde.text,
vturned,
vturned.text,
w,
w.text,
wacute,
wacute.text,
wcircumflex,
wcircumflex.text,
wdieresis,
wdieresis.text,
wdotaccent,
wdotaccent.text,
wdotbelow,
wdotbelow.text,
wgrave,
wgrave.text,
whook,
whook.text,
wring,
wring.text,
x,
x.text,
xdieresis,
xdieresis.text,
xdotaccent,
xdotaccent.text,
y,
y.text,
yacute,
yacute.text,
ycircumflex,
ycircumflex.text,
ydieresis,
ydieresis.text,
ydotaccent,
ydotaccent.text,
ydotbelow,
ydotbelow.text,
ygrave,
ygrave.text,
yhook,
yhook.text,
yhookabove,
yhookabove.text,
ymacron,
ymacron.text,
yring,
yring.text,
ystroke,
ystroke.text,
ytilde,
ytilde.text,
yturned,
yturned.text,
z,
z.text,
zacute,
zacute.text,
zcaron,
zcaron.text,
zcircumflex,
zcircumflex.text,
zdotaccent,
zdotaccent.text,
zdotbelow,
zdotbelow.text,
zlinebelow,
zlinebelow.text,
zstroke,
zstroke.text,
saltillo,
saltillo.text,
btopbar,
btopbar.text,
dshortstrokeoverlay,
dshortstrokeoverlay.text,
"lambda-latin",
"lambda-latin.text",
sslash,
sslash.text,
florin,
florin.text,
idotlessdotbelow,
idotlessdotbelow.text,
idotlessogonek,
idotlesstildebelow,
idotlesstildebelow.text,
jcrossedtaildotless,
jcrossedtaildotless.text,
udiagonalstroke,
f_f,
f_f.text,
f_f_t,
f_f_t.text,
f_t,
f_t.text,
fi,
fi.text,
fl,
fl.ss03,
fl.ss03.text,
fl.text,
l_periodcentered.latnCAT,
l_periodcentered.latnCAT.ss03,
l_periodcentered.latnCAT.ss03.text,
l_periodcentered.latnCAT.text,
t_t,
a.subs,
a.sups,
b.subs,
b.sups,
c.subs,
c.sups,
d.subs,
d.sups,
e.subs,
e.sups,
f.subs,
f.sups,
g.subs,
g.sups,
h.subs,
h.sups,
i.subs,
i.sups,
j.subs,
j.sups,
k.subs,
k.sups,
l.subs,
l.sups,
m.subs,
m.sups,
n.subs,
n.sups,
o.subs,
o.sups,
p.subs,
p.sups,
q.subs,
q.sups,
r.subs,
r.sups,
s.subs,
s.sups,
t.subs,
t.sups,
u.subs,
u.sups,
v.subs,
v.sups,
w.subs,
w.sups,
x.subs,
x.sups,
y.subs,
y.sups,
z.subs,
z.sups,
ainferior,
ainferior.ss02,
ainferior.text,
einferior,
einferior.text,
oinferior,
schwainferior,
schwainferior.text,
xinferior,
ordfeminine,
ordfeminine.ss02,
ordmasculine,
clickalveolar,
clickdental,
clicklateral,
clickretroflex,
hhookmod,
hhookmod.text,
hmod,
hmod.text,
imod,
imod.text,
jmod,
jmod.text,
lmod,
lmod.ss03,
lmod.ss03.text,
lmod.text,
nmod,
rmod,
smod,
smod.text,
wmod,
xmod,
ymod,
ymod.text,
"A-cy",
"A-cy.text",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Gje-cy.text",
"Gheupturn-cy",
"Ghestroke-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Iegrave-cy.text",
"Io-cy",
"Io-cy.text",
"Zhe-cy",
"Ze-cy",
"Ze-cy.text",
"Ii-cy",
"Ii-cy.text",
"Iishort-cy",
"Iishort-cy.text",
"Iigrave-cy",
"Iigrave-cy.text",
"Ka-cy",
"Kje-cy",
"Kje-cy.text",
"El-cy",
"Em-cy",
"Em-cy.text",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Es-cy.text",
"Te-cy",
"U-cy",
"U-cy.text",
"Ushort-cy",
"Ushort-cy.text",
"Ef-cy",
"Ha-cy",
"Ha-cy.text",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"Dze-cy.text",
"E-cy",
"E-cy.text",
"Ereversed-cy",
"Ereversed-cy.text",
"I-cy",
"Yi-cy",
"Yi-cy.text",
"Je-cy",
"Tshe-cy",
"Iu-cy",
"Ia-cy",
"Dje-cy",
"Yat-cy",
"Fita-cy",
"Izhitsa-cy",
"Izhitsa-cy.text",
"Zhedescender-cy",
"Zedescender-cy",
"Zedescender-cy.text",
"Kadescender-cy",
"Kaverticalstroke-cy",
"Kabashkir-cy",
"Endescender-cy",
"Enghe-cy",
"Esdescender-cy",
"Esdescender-cy.text",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Hadescender-cy.text",
"Chedescender-cy",
"Cheverticalstroke-cy",
"Shha-cy",
"Palochka-cy",
"Zhebreve-cy",
"Zhebreve-cy.text",
"Abreve-cy",
"Abreve-cy.text",
"Adieresis-cy",
"Adieresis-cy.text",
"Aie-cy",
"Aie-cy.text",
"Iebreve-cy",
"Iebreve-cy.text",
"Schwa-cy",
"Schwa-cy.text",
"Schwadieresis-cy",
"Schwadieresis-cy.text",
"Zhedieresis-cy",
"Zhedieresis-cy.text",
"Zedieresis-cy",
"Zedieresis-cy.text",
"Imacron-cy",
"Imacron-cy.text",
"Idieresis-cy",
"Idieresis-cy.text",
"Odieresis-cy",
"Odieresis-cy.text",
"Obarred-cy",
"Obarreddieresis-cy",
"Obarreddieresis-cy.text",
"Edieresis-cy",
"Edieresis-cy.text",
"Umacron-cy",
"Umacron-cy.text",
"Udieresis-cy",
"Udieresis-cy.text",
"Uhungarumlaut-cy",
"Uhungarumlaut-cy.text",
"Chedieresis-cy",
"Chedieresis-cy.text",
"Yerudieresis-cy",
"Yerudieresis-cy.text",
"Komide-cy",
"Qa-cy",
"We-cy",
"We-cy.text",
"Ghemiddlehook-cy",
"a-cy",
"a-cy.ss02",
"a-cy.text",
"be-cy",
"be-cy.text",
"ve-cy",
"ge-cy",
"gje-cy",
"gje-cy.text",
"gheupturn-cy",
"ghestroke-cy",
"de-cy",
"ie-cy",
"ie-cy.text",
"iegrave-cy",
"iegrave-cy.text",
"io-cy",
"io-cy.text",
"zhe-cy",
"ze-cy",
"ze-cy.text",
"ii-cy",
"ii-cy.text",
"iishort-cy",
"iishort-cy.text",
"iigrave-cy",
"iigrave-cy.text",
"ka-cy",
"kje-cy",
"kje-cy.text",
"el-cy",
"em-cy",
"em-cy.text",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"er-cy.text",
"es-cy",
"es-cy.text",
"te-cy",
"u-cy",
"u-cy.text",
"ushort-cy",
"ushort-cy.text",
"ef-cy",
"ef-cy.text",
"ha-cy",
"ha-cy.text",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"yeru-cy.text",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"dze-cy.text",
"e-cy",
"e-cy.text",
"ereversed-cy",
"ereversed-cy.text",
"i-cy",
"i-cy.text",
"yi-cy",
"yi-cy.text",
"je-cy",
"je-cy.text",
"tshe-cy",
"tshe-cy.text",
"iu-cy",
"ia-cy",
"dje-cy",
"dje-cy.text",
"yat-cy",
"yat-cy.text",
"fita-cy",
"izhitsa-cy",
"izhitsa-cy.text",
"zhedescender-cy",
"zedescender-cy",
"zedescender-cy.text",
"kadescender-cy",
"kaverticalstroke-cy",
"kabashkir-cy",
"endescender-cy",
"enghe-cy",
"esdescender-cy",
"esdescender-cy.text",
"ustraight-cy",
"ustraight-cy.text",
"ustraightstroke-cy",
"ustraightstroke-cy.text",
"hadescender-cy",
"hadescender-cy.text",
"chedescender-cy",
"cheverticalstroke-cy",
"shha-cy",
"shha-cy.text",
"palochka-cy",
"palochka-cy.text",
"zhebreve-cy",
"zhebreve-cy.text",
"abreve-cy",
"abreve-cy.ss02",
"abreve-cy.text",
"adieresis-cy",
"adieresis-cy.ss02",
"adieresis-cy.text",
"aie-cy",
"aie-cy.text",
"iebreve-cy",
"iebreve-cy.text",
"schwa-cy",
"schwa-cy.text",
"schwadieresis-cy",
"schwadieresis-cy.text",
"zhedieresis-cy",
"zhedieresis-cy.text",
"zedieresis-cy",
"zedieresis-cy.text",
"imacron-cy",
"imacron-cy.text",
"idieresis-cy",
"idieresis-cy.text",
"odieresis-cy",
"odieresis-cy.text",
"obarred-cy",
"obarreddieresis-cy",
"obarreddieresis-cy.text",
"edieresis-cy",
"edieresis-cy.text",
"umacron-cy",
"umacron-cy.text",
"udieresis-cy",
"udieresis-cy.text",
"uhungarumlaut-cy",
"uhungarumlaut-cy.text",
"chedieresis-cy",
"chedieresis-cy.text",
"yerudieresis-cy",
"yerudieresis-cy.text",
"komide-cy",
"komide-cy.text",
"qa-cy",
"qa-cy.text",
"we-cy",
"we-cy.text",
"ghemiddlehook-cy",
Alpha,
Alpha.text,
Beta,
Gamma,
Delta,
Delta.text,
Epsilon,
Zeta,
Zeta.text,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Lambda.text,
Mu,
Mu.text,
Nu,
Nu.text,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Sigma.text,
Tau,
Upsilon,
Phi,
Chi,
Chi.text,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Iotadieresis.text,
Upsilondieresis,
Upsilondieresis.text,
alpha,
beta,
beta.text,
gamma,
gamma.text,
delta,
delta.text,
epsilon,
epsilon.text,
zeta,
zeta.text,
eta,
eta.text,
theta,
theta.text,
iota,
kappa,
lambda,
lambda.text,
mu,
mu.text,
nu,
nu.text,
xi,
xi.text,
omicron,
pi,
rho,
rho.text,
sigmafinal,
sigma,
tau,
upsilon,
phi,
phi.text,
chi,
chi.text,
psi,
psi.text,
omega,
iotatonos,
iotatonos.text,
iotadieresis,
iotadieresis.text,
iotadieresistonos,
iotadieresistonos.text,
upsilontonos,
upsilontonos.text,
upsilondieresis,
upsilondieresis.text,
upsilondieresistonos,
upsilondieresistonos.text,
omicrontonos,
omicrontonos.text,
omegatonos,
omegatonos.text,
alphatonos,
alphatonos.text,
epsilontonos,
epsilontonos.text,
etatonos,
etatonos.text,
hinferior,
hinferior.text,
kinferior,
kinferior.text,
linferior,
linferior.text,
minferior,
ninferior,
pinferior,
pinferior.text,
sinferior,
sinferior.text,
tinferior,
amod,
dmod,
dmod.text,
eOpenmod,
emod,
istrokemod,
oOpenmod,
omod,
thetamod,
thetamod.text,
tmod,
ubarmod,
umod,
vmod,
zmod,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.osf,
zero.tf,
zero.tosf,
zero.zero,
one.osf,
one.tf,
one.tosf,
two.osf,
two.text,
two.tf,
two.tosf,
three.osf,
three.text,
three.tf,
three.tosf,
four.osf,
four.text,
four.tf,
four.tosf,
five.osf,
five.text,
five.tf,
five.tosf,
six.osf,
six.tf,
six.tosf,
seven.osf,
seven.text,
seven.tf,
seven.tosf,
eight.osf,
eight.tf,
eight.tosf,
nine.osf,
nine.tf,
nine.tosf,
zero.osf.zero,
zero.tf.zero,
zero.tosf.zero,
two.osf.text,
two.tf.text,
two.tosf.text,
three.osf.text,
three.tf.text,
three.tosf.text,
four.osf.text,
four.tf.text,
four.tosf.text,
five.osf.text,
five.tf.text,
five.tosf.text,
seven.osf.text,
seven.tf.text,
seven.tosf.text,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
onetenth,
two.dnom.text,
three.dnom.text,
four.dnom.text,
seven.dnom.text,
two.numr.text,
three.numr.text,
four.numr.text,
seven.numr.text,
onehalf.text,
onethird.text,
twothirds.text,
onequarter.text,
threequarters.text,
oneseventh.text,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
twoinferior.text,
threeinferior.text,
fourinferior.text,
seveninferior.text,
twosuperior.text,
threesuperior.text,
foursuperior.text,
sevensuperior.text,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
zeroWidthNoBreakSpace,
narrownbspace,
"mediumspace-math",
wordjoiner,
anoteleia,
questiongreek,
"leftanglebracket-math",
"leftanglebracket-math.case",
"rightanglebracket-math",
"rightanglebracket-math.case",
period,
comma,
colon,
colon.calt,
semicolon,
ellipsis,
exclam,
exclamdown,
exclamdown.case,
question,
questiondown,
questiondown.case,
periodcentered,
periodcentered.case,
bullet,
bullet.case,
asterisk,
dittomark,
interrobang,
interrobang.text,
invertedinterrobang,
invertedinterrobang.case,
invertedinterrobang.case.text,
invertedinterrobang.text,
numbersign,
slash,
slash.case,
backslash,
backslash.case,
triangularbullet,
colon.case,
undertie,
hyphen,
hyphen.case,
softhyphen,
endash,
endash.case,
emdash,
emdash.case,
figuredash,
figuredash.case,
horizontalbar,
horizontalbar.case,
hyphentwo,
hyphentwo.case,
nonbreakinghyphen,
nonbreakinghyphen.case,
underscore,
parenleft,
parenleft.case,
parenright,
parenright.case,
braceleft,
braceleft.case,
braceright,
braceright.case,
bracketleft,
bracketleft.case,
bracketright,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetleft.case,
guillemetright,
guillemetright.case,
guilsinglleft,
guilsinglleft.case,
guilsinglright,
guilsinglright.case,
tripleprime,
quotedbl,
quotesingle,
"gammamod-latin.text",
"gammamod-latin",
florin.aalt,
baht,
hook.text,
hook,
hook.african,
doubleapostrophemod,
colonmod,
minusmod,
shortequalmod,
voicingmod,
ballotBox,
ballotBoxWithCheck,
ballotBoxWithX,
peace,
checkmark,
whiteStar.circled,
at,
at.case,
at.case.text,
at.text,
ampersand,
ampersand.text,
paragraph,
section,
section.text,
copyright,
copyright.text,
registered,
published,
trademark,
trademark.text,
degree,
minute,
second,
diameterSign,
bar,
brokenbar,
literSign,
dagger,
daggerdbl,
estimated,
numero,
numero.text,
turneddagger,
replacementCharacter,
servicemark,
servicemark.text,
A.circled,
a.circled,
bitcoin,
cedi,
cent,
colonsign,
colonsign.substitution,
currency,
dollar,
dong,
euro,
euro.text,
guarani,
guarani.text,
hryvnia,
kip,
liraTurkish,
manat,
naira,
peso,
ruble,
rupeeIndian,
sheqel,
sterling,
tenge,
tugrik,
tz,
som,
won,
yen,
bulletoperator,
commercialMinusSign,
congruent,
dotmath,
estimates,
estimates.text,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
integral,
Ohm,
increment,
increment.text,
product,
summation,
radical,
micro,
partialdiff,
micro.text,
percent,
perthousand,
midlinehorizontalellipsis,
upArrow,
upArrow.text,
northEastArrow,
northEastArrow.text,
rightArrow,
rightArrow.text,
southEastArrow,
southEastArrow.text,
downArrow,
downArrow.text,
southWestArrow,
southWestArrow.text,
leftArrow,
leftArrow.text,
northWestArrow,
northWestArrow.text,
leftRightArrow,
leftRightArrow.text,
upDownArrow,
upDownArrow.text,
blackCircle,
whiteCircle,
dottedCircle,
blackDiamond,
whiteDiamond,
lozenge,
blackSquare,
whiteSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
upBlackSmallTriangle,
rightBlackSmallTriangle,
downBlackSmallTriangle,
leftBlackSmallTriangle,
u1F16D,
u1F16E,
u1F16F,
u1F10D,
u1F10E,
u1F10F,
rbelowcomb,
perispomenicomb,
perispomenicomb.text,
tonos,
tonos.text,
tonos.case,
dieresistonos,
dieresistonos.text,
dieresiscomb,
dieresiscomb.case,
dieresiscomb.case.text,
dieresiscomb.text,
dieresiscomb_gravecomb,
dieresiscomb_gravecomb.case,
dieresiscomb_gravecomb.case.text,
dieresiscomb_gravecomb.text,
dieresiscomb_acutecomb,
dieresiscomb_acutecomb.case,
dieresiscomb_acutecomb.case.text,
dieresiscomb_acutecomb.text,
dieresiscomb_caroncomb,
dieresiscomb_caroncomb.case,
dieresiscomb_caroncomb.case.text,
dieresiscomb_caroncomb.text,
dieresiscomb_macroncomb,
dieresiscomb_macroncomb.case,
dieresiscomb_macroncomb.case.text,
dieresiscomb_macroncomb.text,
dotaccentcomb,
dotaccentcomb.case,
dotaccentcomb.case.text,
dotaccentcomb.noti,
dotaccentcomb.noti.text,
dotaccentcomb.text,
dotaccentcomb_macroncomb,
dotaccentcomb_macroncomb.case,
dotaccentcomb_macroncomb.case.text,
dotaccentcomb_macroncomb.text,
gravecomb,
gravecomb.case,
gravecomb.case.text,
gravecomb.text,
gravecomb_macroncomb,
gravecomb_macroncomb.case,
gravecomb_macroncomb.case.text,
gravecomb_macroncomb.text,
acutecomb,
acutecomb.case,
acutecomb.case.text,
acutecomb.text,
acutecomb_dotaccentcomb,
acutecomb_dotaccentcomb.case,
acutecomb_dotaccentcomb.case.text,
acutecomb_dotaccentcomb.text,
acutecomb_macroncomb,
acutecomb_macroncomb.case,
acutecomb_macroncomb.case.text,
acutecomb_macroncomb.text,
hungarumlautcomb,
hungarumlautcomb.case,
hungarumlautcomb.case.text,
hungarumlautcomb.text,
circumflexcomb,
circumflexcomb.case,
circumflexcomb.case.text,
circumflexcomb.text,
circumflexcomb_gravecomb.case,
circumflexcomb_gravecomb.case.text,
circumflexcomb_gravecomb.text,
circumflexcomb_acutecomb.case,
circumflexcomb_acutecomb.case.text,
circumflexcomb_acutecomb.text,
circumflexcomb_tildecomb.case,
circumflexcomb_tildecomb.case.text,
circumflexcomb_tildecomb.text,
circumflexcomb_hookabovecomb.case,
circumflexcomb_hookabovecomb.case.text,
circumflexcomb_hookabovecomb.text,
caroncomb,
caroncomb.case,
caroncomb.case.text,
caroncomb.slovak,
caroncomb.slovak.text,
caroncomb.text,
caroncomb_dotaccentcomb,
caroncomb_dotaccentcomb.case,
caroncomb_dotaccentcomb.case.text,
caroncomb_dotaccentcomb.text,
brevecomb,
brevecomb.case,
brevecomb.case.text,
brevecomb.text,
brevecomb_gravecomb.case,
brevecomb_gravecomb.case.text,
brevecomb_gravecomb.text,
brevecomb_acutecomb.case,
brevecomb_acutecomb.case.text,
brevecomb_acutecomb.text,
brevecomb_tildecomb.case,
brevecomb_tildecomb.case.text,
brevecomb_tildecomb.text,
brevecomb_hookabovecomb.case,
brevecomb_hookabovecomb.case.text,
brevecomb_hookabovecomb.text,
ringcomb,
ringcomb.case,
ringcomb.case.text,
ringcomb.text,
tildecomb,
tildecomb.case,
tildecomb.case.text,
tildecomb.text,
tildecomb_dieresiscomb,
tildecomb_dieresiscomb.case,
tildecomb_dieresiscomb.case.text,
tildecomb_dieresiscomb.text,
tildecomb_acutecomb,
tildecomb_acutecomb.case,
tildecomb_acutecomb.case.text,
tildecomb_acutecomb.text,
tildecomb_macroncomb,
tildecomb_macroncomb.case,
tildecomb_macroncomb.case.text,
tildecomb_macroncomb.text,
macroncomb,
macroncomb.case,
macroncomb.case.text,
macroncomb.text,
macroncomb_dieresiscomb,
macroncomb_dieresiscomb.case,
macroncomb_dieresiscomb.case.text,
macroncomb_dieresiscomb.text,
macroncomb_gravecomb,
macroncomb_gravecomb.case,
macroncomb_gravecomb.case.text,
macroncomb_gravecomb.text,
macroncomb_acutecomb,
macroncomb_acutecomb.case,
macroncomb_acutecomb.case.text,
macroncomb_acutecomb.text,
hookabovecomb,
hookabovecomb.case,
hookabovecomb.case.text,
hookabovecomb.text,
verticallineabovecomb,
verticallineabovecomb.case,
verticallineabovecomb.case.text,
verticallineabovecomb.text,
dblgravecomb,
dblgravecomb.text,
candraBinducomb,
breveinvertedcomb,
breveinvertedcomb.case,
breveinvertedcomb.case.text,
breveinvertedcomb.text,
commaturnedabovecomb,
commaturnedabovecomb.case,
commaturnedabovecomb.case.text,
commaturnedabovecomb.text,
commaabovecomb,
commaabovecomb.text,
commaaboverightcomb,
commaaboverightcomb.text,
horncomb,
minusbelowcomb,
minusbelowcomb.text,
dotbelowcomb,
dotbelowcomb.case,
dotbelowcomb.case.text,
dotbelowcomb.text,
dieresisbelowcomb,
dieresisbelowcomb.text,
ringbelowcomb,
ringbelowcomb.text,
commaaccentcomb,
commaaccentcomb.case,
commaaccentcomb.case.text,
commaaccentcomb.text,
cedillacomb,
cedillacomb.case,
cedillacomb.case.text,
cedillacomb.t,
cedillacomb.text,
ogonekcomb,
ogonekcomb.case,
ogonekcomb.case.text,
ogonekcomb.e,
ogonekcomb.text,
verticallinebelowcomb,
verticallinebelowcomb.text,
circumflexbelowcomb,
circumflexbelowcomb.text,
brevebelowcomb,
brevebelowcomb.case,
brevebelowcomb.case.text,
brevebelowcomb.text,
breveinvertedbelowcomb,
breveinvertedbelowcomb.text,
tildebelowcomb,
tildebelowcomb.text,
macronbelowcomb,
macronbelowcomb.case,
macronbelowcomb.case.text,
macronbelowcomb.text,
lowlinecomb,
lowlinecomb.text,
tildeoverlaycomb,
strokeshortcomb,
strokeshortcomb.text,
dotaboverightcomb,
doublebrevebelowcomb,
doublebrevebelowcomb.text,
doublebrevecomb,
doublebrevecomb.text,
doublemacronbelowcomb,
breveinverteddoublecomb,
breveinverteddoublecomb.text,
acutemacroncomb,
acutemacroncomb.text,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
gravemacroncomb,
macronacutecomb,
macrongravecomb,
macrongravecomb.text,
slashshortcomb,
slashlongcomb,
dieresis,
dieresis.text,
dotaccent,
dotaccent.text,
grave,
grave.text,
acute,
acute.text,
hungarumlaut,
hungarumlaut.text,
circumflex,
circumflex.text,
firsttonechinese,
secondtonechinese,
caron,
caron.text,
fourthtonechinese,
breve,
breve.text,
ring,
ring.text,
tilde,
tilde.text,
macron,
macron.text,
cedilla,
cedilla.text,
ogonek,
ogonek.text,
apostrophemod,
commaturnedmod,
doubleprimemod,
glottalstopmod,
glottalstopmod.text,
glottalstopreversedmod,
glottalstopreversedmod.text,
primemod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
verticallinemod,
verticallinemod.text,
colontriangularhalfmod,
colontriangularmod,
hooksmall.bottom.text,
hooksmall.text,
ringacute,
ringacute.case,
ringacute.case.text,
ringacute.text,
hooksmall,
hooksmall.bottom,
hooksmall.case
)