(
.notdef,
NULL,
CR,
space,
"hamza-ar",
"alef-ar",
"alef-ar.fina",
"alefHamzaabove-ar",
"alefHamzaabove-ar.fina",
"alefHamzabelow-ar",
"alefHamzabelow-ar.fina",
"alefMadda-ar",
"alefMadda-ar.fina",
"alefWasla-ar",
"alefWasla-ar.fina",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.init",
"beh-ar",
"beh-ar.fina",
"beh-ar.medi",
"beh-ar.init",
"peh-ar",
"peh-ar.fina",
"peh-ar.medi",
"peh-ar.init",
"alefMaksura-ar.medi",
"alefMaksura-ar.init",
"teh-ar",
"teh-ar.fina",
"teh-ar.medi",
"teh-ar.init",
"teh-ar.init.calt",
"tehRing-ar",
"tehRing-ar.fina",
"tehRing-ar.medi",
"tehRing-ar.init",
"theh-ar",
"theh-ar.fina",
"theh-ar.medi",
"theh-ar.init",
"theh-ar.init.calt",
"tteh-ar",
"tteh-ar.fina",
"tteh-ar.medi",
"tteh-ar.init",
"jeem-ar",
"jeem-ar.fina",
"jeem-ar.medi",
"jeem-ar.init",
"tcheh-ar",
"tcheh-ar.fina",
"tcheh-ar.medi",
"tcheh-ar.init",
"hah-ar",
"hah-ar.fina",
"hah-ar.medi",
"hah-ar.init",
"hahHamzaabove-ar",
"hahHamzaabove-ar.fina",
"hahHamzaabove-ar.medi",
"hahHamzaabove-ar.init",
"hahThreedotsabove-ar",
"hahThreedotsabove-ar.fina",
"hahThreedotsabove-ar.medi",
"hahThreedotsabove-ar.init",
"khah-ar",
"khah-ar.fina",
"khah-ar.medi",
"khah-ar.init",
"dal-ar",
"dal-ar.fina",
"thal-ar",
"thal-ar.fina",
"ddal-ar",
"ddal-ar.fina",
"dalRing-ar",
"dalRing-ar.fina",
"reh-ar",
"reh-ar.fina",
"zain-ar",
"zain-ar.fina",
"rreh-ar",
"rreh-ar.fina",
"rehRing-ar",
"rehRing-ar.fina",
"rehDotbelowdotabove-ar",
"rehDotbelowdotabove-ar.fina",
"jeh-ar",
"jeh-ar.fina",
"seen-ar",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"seenDotbelowDotabove-ar",
"seenDotbelowDotabove-ar.fina",
"seenDotbelowDotabove-ar.medi",
"seenDotbelowDotabove-ar.init",
"sheen-ar",
"sheen-ar.fina",
"sheen-ar.medi",
"sheen-ar.init",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"dad-ar",
"dad-ar.fina",
"dad-ar.medi",
"dad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"zah-ar",
"zah-ar.fina",
"zah-ar.medi",
"zah-ar.init",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"ghain-ar",
"ghain-ar.fina",
"ghain-ar.medi",
"ghain-ar.init",
"feh-ar",
"feh-ar.fina",
"feh-ar.medi",
"feh-ar.init",
"veh-ar",
"veh-ar.fina",
"veh-ar.medi",
"veh-ar.init",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"qafDotless-ar",
"qafDotless-ar.fina",
"qaf-ar",
"qaf-ar.fina",
"qaf-ar.medi",
"qaf-ar.init",
"kaf-ar",
"kaf-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"keheh-ar",
"keheh-ar.fina",
"keheh-ar.medi",
"keheh-ar.init",
"gaf-ar",
"gaf-ar.fina",
"gaf-ar.medi",
"gaf-ar.init",
"kafRing-ar",
"kafRing-ar.fina",
"kafRing-ar.medi",
"kafRing-ar.init",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.init",
"meem-ar",
"meem-ar.fina",
"meem-ar.medi",
"meem-ar.init",
"noon-ar",
"noon-ar.fina",
"noon-ar.medi",
"noon-ar.init",
"noonghunna-ar",
"noonghunna-ar.fina",
"noonRing-ar",
"noonRing-ar.fina",
"noonRing-ar.medi",
"noonRing-ar.init",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.init",
"hehHamzaabove-ar",
"hehHamzaabove-ar.fina",
"hehgoal-ar",
"hehgoal-ar.fina",
"hehgoal-ar.medi",
"hehgoal-ar.init",
"hehgoalHamzaabove-ar",
"hehgoalHamzaabove-ar.fina",
"hehDoachashmee-ar",
"hehDoachashmee-ar.fina",
"hehDoachashmee-ar.medi",
"hehDoachashmee-ar.init",
"tehMarbuta-ar",
"tehMarbuta-ar.fina",
"tehMarbutagoal-ar",
"tehMarbutagoal-ar.fina",
"waw-ar",
"waw-ar.fina",
"wawHamzaabove-ar",
"wawHamzaabove-ar.fina",
"alefMaksura-ar",
"alefMaksura-ar.fina",
"yeh-ar",
"yeh-ar.fina",
"yeh-ar.medi",
"yeh-ar.init",
"yehHamzaabove-ar",
"yehHamzaabove-ar.fina",
"yehHamzaabove-ar.medi",
"yehHamzaabove-ar.init",
"yeh-farsi",
"yeh-farsi.fina",
"yeh-farsi.medi",
"yeh-farsi.init",
"yehTail-ar",
"yehTail-ar.fina",
"e-ar",
"e-ar.fina",
"e-ar.medi",
"e-ar.init",
"yehbarree-ar",
"yehbarree-ar.fina",
"yehbarreeHamzaabove-ar",
"yehbarreeHamzaabove-ar.fina",
"kashida-ar",
"hamza-ar.isol",
"alef-ar.isol",
"beh-ar.isol",
"peh-ar.isol",
"teh-ar.isol",
"theh-ar.isol",
"tteh-ar.isol",
"jeem-ar.isol",
"tcheh-ar.isol",
"hah-ar.isol",
"khah-ar.isol",
"dal-ar.isol",
"thal-ar.isol",
"ddal-ar.isol",
"reh-ar.isol",
"zain-ar.isol",
"rreh-ar.isol",
"jeh-ar.isol",
"seen-ar.isol",
"sheen-ar.isol",
"sad-ar.isol",
"dad-ar.isol",
"tah-ar.isol",
"zah-ar.isol",
"ain-ar.isol",
"ghain-ar.isol",
"feh-ar.isol",
"qaf-ar.isol",
"kaf-ar.isol",
"keheh-ar.isol",
"gaf-ar.isol",
"lam-ar.isol",
"meem-ar.isol",
"noon-ar.isol",
"noonghunna-ar.isol",
"heh-ar.isol",
"hehHamzaabove-ar.isol",
"hehgoal-ar.isol",
"hehDoachashmee-ar.isol",
"tehMarbuta-ar.isol",
"waw-ar.isol",
"alefMaksura-ar.isol",
"yeh-ar.isol",
"yeh-farsi.isol",
"e-ar.isol",
"yehbarree-ar.isol",
"lam_alef-ar",
"lam_alef-ar.fina",
"lam_alefHamzaabove-ar",
"lam_alefHamzaabove-ar.fina",
"lam_alefHamzabelow-ar",
"lam_alefHamzabelow-ar.fina",
"lam_alefMadda-ar",
"lam_alefMadda-ar.fina",
"lam_alefWasla-ar",
"behDotless_alefMaksura-ar",
"behDotless_yeh-ar",
"beh_alefMaksura-ar",
"beh_yeh-ar",
"lam_alefWasla-ar.fina",
"peh_alefMaksura-ar",
"peh_yeh-ar",
"teh_alefMaksura-ar",
"teh_yeh-ar",
"theh_alefMaksura-ar",
"theh_yeh-ar",
"tteh_alefMaksura-ar",
"tteh_yeh-ar",
"feh_alefMaksura-ar",
"feh_yeh-ar",
"feh_yehHamzaabove-ar",
"noon_alefMaksura-ar",
"noon_yeh-ar",
"hehgoal_alefMaksura-ar",
"hehgoal_yeh-ar",
"alefMaksura_alefMaksura-ar",
"alefMaksura_yeh-ar",
"yeh_alefMaksura-ar",
"yeh_yeh-ar",
"yehHamzaabove_alefMaksura-ar",
"yehHamzaabove_yeh-ar",
"allah-ar",
hinferior,
kinferior,
linferior,
minferior,
ninferior,
pinferior,
sinferior,
tinferior,
thetamod,
zmod,
"decimalseparator-ar",
"thousandseparator-ar",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
two.text,
three.text,
four.text,
five.text,
seven.text,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
two.osf.text,
three.osf.text,
four.osf.text,
five.osf.text,
seven.osf.text,
zero.osf.zero,
zero.tf.zero,
zero.zero.tmp,
zero.tosf.zero,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
onetenth,
two.dnom.text,
three.dnom.text,
four.dnom.text,
seven.dnom.text,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
zeroWidthNoBreakSpace,
narrownbspace,
"mediumspace-math",
wordjoiner,
lefttorightmark,
righttoleftmark,
anoteleia,
questiongreek,
"dotabove-ar",
"dotbelow-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalbelow-ar",
"threedotsdownbelow-ar",
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
"number-ar",
"asterisk-ar",
"year-ar",
"footnotemarker-ar",
"pagenumber-ar",
"dateseparator-ar",
"verseComma-ar",
"misraComma-ar",
"sindhiampersand-ar",
"twodotsverticalbelowSymbol-ar",
"threedotsupaboveSymbol-ar",
"ringSymbol-ar",
"parenleft-ar",
"parenright-ar",
"leftanglebracket-math",
"rightanglebracket-math",
"leftanglebracket-math.case",
"rightanglebracket-math.case",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
question,
periodcentered,
bullet,
asterisk,
dittomark,
interrobang,
numbersign,
slash,
backslash,
triangularbullet,
turneddagger,
exclamdown,
questiondown,
invertedinterrobang,
colon.calt,
exclamdown.case,
questiondown.case,
periodcentered.case,
bullet.case,
invertedinterrobang.case,
asterisk.part,
hyphen,
softhyphen,
endash,
emdash,
figuredash,
horizontalbar,
hyphentwo,
nonbreakinghyphen,
underscore,
hyphen.case,
softhyphen.case,
endash.case,
emdash.case,
figuredash.case,
horizontalbar.case,
hyphentwo.case,
nonbreakinghyphen.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
tripleprime,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
"gammamod-latin",
florin.aalt,
"sindhipostpositionmen-ar",
"afghani-ar",
rial,
"percent-ar",
"perthousand-ar",
baht,
hook,
hook.african,
voicingmod,
ballotBox,
ballotBoxWithCheck,
ballotBoxWithX,
peace,
checkmark,
whiteStar.circled,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
degree,
minute,
second,
diameterSign,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
servicemark,
u1F16D,
u1F16E,
u1F16F,
at.case,
at.text,
ampersand.text,
section.text,
copyright.text,
trademark.text,
servicemark.text,
bitcoin,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
guarani,
hryvnia,
kip,
liraTurkish,
manat,
naira,
peso,
"riyalSaudi-ar",
ruble,
rupeeIndian,
sheqel,
sterling,
tenge,
tugrik,
som,
dirham,
won,
yen,
euro.text,
guarani.text,
dollar.tmp,
bulletoperator,
commercialMinusSign,
congruent,
dotmath,
estimates,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
rightArrow.text,
blackCircle,
whiteCircle,
dottedCircle,
blackDiamond,
whiteDiamond,
lozenge,
blackSquare,
whiteSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
upBlackSmallTriangle,
rightBlackSmallTriangle,
downBlackSmallTriangle,
leftBlackSmallTriangle,
tonos,
tonos.case,
dieresistonos,
tonos.text,
dieresistonos.text,
"tahabove-ar",
"dotcenter-ar",
"threedotsdowncenter-ar",
"wasla-ar",
"gafsarkashabove-ar",
"alefabove-ar",
"alefbelow-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"hamzaaboveDamma-ar",
"hamzaaboveDammatan-ar",
"hamzaaboveFatha-ar",
"hamzaaboveFathatan-ar",
"hamzaaboveSukun-ar",
"hamzabelowKasra-ar",
"hamzabelowKasratan-ar",
"fathatan-ar",
"dammatan-ar",
"kasratan-ar",
"fatha-ar",
"damma-ar",
"kasra-ar",
"shadda-ar",
"shaddaFathatan-ar",
"shaddaDammatan-ar",
"shaddaKasratan-ar",
"shaddaFatha-ar",
"shaddaDamma-ar",
"shaddaKasra-ar",
"shaddaAlefabove-ar",
"sukun-ar",
"madda-ar",
"noonghunnaabove-ar",
"threedotsabove-ar",
dieresiscomb,
dieresiscomb_gravecomb,
dieresiscomb_acutecomb,
dieresiscomb_caroncomb,
dieresiscomb_macroncomb,
dotaccentcomb,
dotaccentcomb_macroncomb,
gravecomb,
gravecomb_macroncomb,
acutecomb,
acutecomb_dotaccentcomb,
acutecomb_macroncomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
caroncomb_dotaccentcomb,
brevecomb,
ringcomb,
tildecomb,
tildecomb_dieresiscomb,
tildecomb_acutecomb,
tildecomb_macroncomb,
macroncomb,
macroncomb_dieresiscomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
verticallineabovecomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
doublebrevebelowcomb,
doublebrevecomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
dieresiscomb.case,
dieresiscomb_gravecomb.case,
dieresiscomb_acutecomb.case,
dieresiscomb_caroncomb.case,
dieresiscomb_macroncomb.case,
dotaccentcomb.case,
dotaccentcomb_macroncomb.case,
gravecomb.case,
gravecomb_macroncomb.case,
acutecomb.case,
acutecomb_dotaccentcomb.case,
acutecomb_macroncomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
caroncomb_dotaccentcomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
tildecomb.case,
tildecomb_dieresiscomb.case,
tildecomb_acutecomb.case,
tildecomb_macroncomb.case,
macroncomb.case,
macroncomb_dieresiscomb.case,
macroncomb_gravecomb.case,
macroncomb_acutecomb.case,
hookabovecomb.case,
breveinvertedcomb.case,
commaturnedabovecomb.case,
dotbelowcomb.case,
commaaccentcomb.case,
cedillacomb.case,
ogonekcomb.case,
brevebelowcomb.case,
macronbelowcomb.case,
dotaccentcomb.noti,
caroncomb.slovak,
cedillacomb.t,
dieresiscomb.text,
dieresiscomb_gravecomb.text,
dieresiscomb_acutecomb.text,
dieresiscomb_caroncomb.text,
dieresiscomb_macroncomb.text,
dotaccentcomb.text,
gravecomb.text,
acutecomb.text,
hungarumlautcomb.text,
circumflexcomb.text,
circumflexcomb_gravecomb.text,
circumflexcomb_acutecomb.text,
circumflexcomb_tildecomb.text,
circumflexcomb_hookabovecomb.text,
caroncomb.text,
brevecomb.text,
brevecomb_gravecomb.text,
brevecomb_acutecomb.text,
brevecomb_tildecomb.text,
brevecomb_hookabovecomb.text,
ringcomb.text,
tildecomb.text,
macroncomb.text,
hookabovecomb.text,
commaturnedabovecomb.text,
dotbelowcomb.text,
commaaccentcomb.text,
cedillacomb.text,
ogonekcomb.text,
brevebelowcomb.text,
macronbelowcomb.text,
dieresiscomb_gravecomb.case.text,
dieresiscomb_acutecomb.case.text,
dieresiscomb_caroncomb.case.text,
dieresiscomb_macroncomb.case.text,
circumflexcomb_gravecomb.case.text,
circumflexcomb_acutecomb.case.text,
circumflexcomb_tildecomb.case.text,
circumflexcomb_hookabovecomb.case.text,
brevecomb_gravecomb.case.text,
brevecomb_acutecomb.case.text,
brevecomb_tildecomb.case.text,
brevecomb_hookabovecomb.case.text,
dieresiscomb.case.text,
dotaccentcomb.case.text,
gravecomb.case.text,
acutecomb.case.text,
hungarumlautcomb.case.text,
circumflexcomb.case.text,
caroncomb.case.text,
brevecomb.case.text,
ringcomb.case.text,
tildecomb.case.text,
macroncomb.case.text,
hookabovecomb.case.text,
caroncomb.slovak.text,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commaturnedmod,
glottalstopmod,
glottalstopreversedmod,
ringhalfleft,
ringhalfright,
u1F10D,
u1F10E,
u1F10F,
"fehdotless_alefMaksura-ar",
hooksmall,
hooksmall.case
)